* {
    box-sizing: border-box
}

.head-center {
    display: inline-block;
    text-align: center;
    color: #2eb8b8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    font-size: 4vw
}

h2 {
    font-size: 3vw
}

.title {
    color: black;
    text-align: center
}

.line {
    display: inline-block
}

.text-box {
    text-align: center;
    color: gray;
}

.center {
    text-align: center;
}

.black {
    color: black
}

.bg-services {
    position: absolute;
    bottom: 1em;
    background: rgba(204, 204, 204, 0.8);
    color: black;
    text-align: center;
    width: 100%
}

span, a {
    color: black;
    font-family: 'Times New Roman', Times, serif
}

.foot {
    background-color: rgb(78, 75, 75);
    color: rgb(253, 251, 251);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 5px solid #2eb8b8
}

#inicio {
    text-align: center;
    position: relative
}

.contacto {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* @media  (max-width: 576px) {
    h1 {
        font-size: 1em
    }
    h2 {
        font-size: 0.8em
    }
} */
